{
  "presets": ["react", "es2015-node6", "stage-1", "stage-2", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-classes"
  ]
}
